<!DOCTYPE html>
<html>
<head>
    <title>{{ server_name }}</title>
</head>
<body>
    <h1>Servidor: {{ ansible_hostname }}</h1>
    <p>Porta: {{ http_port }}</p>
    <p>Document Root: {{ document_root }}</p>
    <p>Configurado por Ansible Role</p>
</body>
</html>